.inputfile {

	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.titl{
    text-align: center;
    font-size: 2rem;
    padding-top:50px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:rgb(65, 58, 58);
}
.bod{

}
form{
    padding: 35px;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: rgb(100, 149, 237);
    padding: 10px;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(51, 96, 179);
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }