<div id="header" class="tex">
 <h2><img src="../../assets/img/uoi.png" width="60px"> Admin Panel</h2>
</div>
  <!--close-Header-part-->
  
  
  <!--top-Header-menu-->
  <div id="search" class="navbar navbar-inverse">
    <ul class="nav">
      <li class="text" (click)="logout()"><a title="" href="login.html"><span class="" >Logout</span></a></li>
    </ul>
  </div>
  <!--close-top-Header-menu-->
  <!--start-top-serch-->
  
  <!--close-top-serch-->
  <!--sidebar-menu-->
  <div id="sidebar"><a routerLink="" class="visible-phone"></a>
    <ul>
      <li ><a a routerLink="/dash"><i class="icon icon-home"></i> <span class="slidtext">Dashboard</span></a> </li>
      <li> <a routerLink="/add-news"><i class="icon icon-pencil"></i> <span class="slidtext">Add News</span></a> </li>
      <li> <a routerLink="/all-news"><i class="icon icon-inbox"></i> <span class="slidtext">All News</span></a> </li>
    </ul>
  </div>
